body, html {
    background-color: #21252B;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: white;
}

ul li a {
    color: white;
}

.searchBox {
    padding: 20px 20px 0 20px
}