body, html {
    background-color: #21252B;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    color: white;
}

/*body{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*overflow: hidden;*/
    /*height: 100%;*/
    /*max-height: 100%;*/
/*}*/

ul li a {
    color: white;
}

.searchBox {
    padding: 20px 20px 0 20px
}